body{
background-image:url(https://i.ytimg.com/vi/tE86VlLbqiQ/maxresdefault.jpg);
}

section {
    background: black;
    width: 400px;
    padding: 40px;
    border-radius: 10%;

}

label, input {
    display: block;
}

button {
    background: greenyellow;
    border-radius: 50%;
}
