.mt-0 {
    margin-top: 0!important;
    margin-left: -150px;
}
img, svg {
    vertical-align: middle;
    width: 370px;

}
body{
background-color:#b1b1b1;
}

.navbar-brand{
   font-family:sans-serif;

}

.navbar + * {
    margin-top: 100px;
}
.row>* {
    flex-shrink: 0;
    width: 40%;
    max-width: 30%;
    padding-right: calc(var(--bs-gutter-x)/ 2);
    padding-left: calc(var(--bs-gutter-x)/ 2);
    margin-top: var(--bs-gutter-y);

}
.btn {
    color: white;
    border-color: ffc800;
    background-color:ffc800;
    font-family:monospace;
}


.form-control{
   width: 30%;
   background-color:#212529;
}

.navbar-brand{
   font-family:sans-serif;

}

.navbar + * {
    margin-top: 100px;
}


#all_dishes {
    padding-top: 50px;
}


#all_dishes .card {
    padding-top: 10px;
    max-width:250px;
    margin:20px 20px;
}

#all_dishes .card .card-img{
    width: 100%;
    height: 170px;
}

#all_dishes .dish_qty {
    width: 50px;
}

.card-img:hover {
    transform: scale(1.2, 1.2);
}

.nav-link {
    color: #ffc800;
    font-family: monospace;
}

.list-group-item {
    font-family:inherit;
    position: relative;
    display: block;
    padding: .1rem 1rem;
    text-decoration: none;
    color:black;
    background-color:white;
    border: 1px solid rgba(0,0,0,.125);


}
.card {
    position: absolute;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color:#484848;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.mt-4 {
    margin-top: 1rem!important;
}
.card-title {
    margin-bottom: .10rem;
    color:white;

}