<header>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">AAMI.SHOP</a>
            <div class="collapse navbar-collapse">


                <ul class=" navbar-nav ml-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link">Главная</a>
                    </li>
                    <li class="nav-item">

                        <a class="nav-link" href="https://www.instagram.com/">Про нас</a>
                </ul>
                 <a class="nav-link" href="/cart">Корзина</a>
                <span class="text">

                    <a class="nav-link" href="/register">Регистрация</a>
               </span>
                <a class="nav-link" href="/login">Войти</a>
                <form  class="form-control" action="" method="post">
                    <input type="search" placeholder="Search" name="search">
                    {% csrf_token %}
                    <button class="btn btn-outline-success"  type="submit">Search</button>
                </form>

            </div>
        </div>

    </nav>

</header>

